@import "../variables.scss";

.boardContainer {
  display: grid;
  grid-template: auto auto auto auto auto auto / auto auto auto auto auto auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  width: 100%;
}

.boardRow {
  display: flex;
}
